@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #009640;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: left;
}

a img{
    width: 40px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-around;
    position: fixed;
   

}

h2{
    color: white;
}
